* {
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
}

h1 {
    font-size: 20px;
    font-weight: 500;
}
<<<<<<< HEAD

p {
    font-size: 20px;
    margin: 20px;
    font-weight: 600;
}
=======
>>>>>>> ac26bab611d17b9d1d5f393ecb6ee756b47f84d7
